<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Price</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="public/stylesheets/style.css" type="text/css"/>

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
              crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    </head>
    <body>
        <div class="container-fluid">
             <header id="header" class="chart">
            <div id="chartContainer" class="chartContainer"></div>
        </header>
        <form action="" class="bg-chat">
            <div class="col-md-12">
                <div class="row">
                    <div class="btn-group" role="group">
                        <input type="button" value="Coincheck(JP)" id="exchangeBtn" class="btn btn-outline-info"/> 
                        <input type="button" value="Bithumb(KR)" id="exchangeBtn" class="btn btn-outline-info"/>
                    </div>
                </div>
                <div class="row">
                    <div class="font-weight-light">
                        Chatting
                    </div>
                </div>
                <div class="row" id="messageBox" onwheel="scrollEvent()">
                    <ul class="list-group list-group-flush chat-history" id="messages">
                    </ul>
                </div>
                <div class="row">
                    <div class="input-group mb-12">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#changeId">
                                <span id="userId"></span>
                            </button>
                        </div>
                        <input type="text" class="form-control" id="message" placeholder="your message">
                        <button class="btn btn-primary" role="group" type="submit">send</button>
                    </div>
                </div>
            </div>

            <!--UserName Change Modal -->
            <div class="modal fade" id="changeId" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Change your Id</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="userChangeId" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="changeIdbtn">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--UserName Change Modal -->

            <!--UserName input Modal -->
            <div class="modal fade" id="inputId" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">input your Id</h5>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="userInputId" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="inputIdBtn">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--UserName input Modal -->
        </form>
        <script src="public/javascripts/canvasjs.min.js"></script>
        <script src="public/javascripts/chartModel.js"></script>
        </div>
    </body>
    <!-- chart js-->
</html>